/* large view navigation ************************************/
@media (min-width: 780px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


	#menu {
		display: none; /* hide button */
	}

	.navigation {
		display: flex;
        flex-direction: row;
        justify-content: flex-end;
        list-style: none;
	}

	.navigation li a {
		display: block;
        padding: 1rem;
	}
	

    main {
        grid-template-columns: 1fr 1fr 1fr;
    }

    main h1 {
        grid-column: 1/4;
    }
}
